.Navigation {
    top: 0;
    z-index: 10;
    position: sticky;
    background: var(--black-2);
}

.NavigationContent {
    gap: 1em;
    padding: 12px 8px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    font-size: 24px;
    color: var(--red);
    text-transform: uppercase;
}