.AboutUs {
    background: transparent;
}

.AboutUsTitle {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.AboutUsContent {
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    max-width: 1077px;
    border-radius: 8px;
    padding: 1.1em 1.2em;
    justify-content: space-between;
    background-color: var(--white);
}

.AboutUsTable {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.AboutUsTableLabel {
    color: var(--red);
}

.AboutUsTableFooter {
    grid-column: 1 / span 2;
}

.AboutUsMap {
    margin: 1em 0;
    max-width: 400px;
    aspect-ratio: 3/2;
}

@media screen and (min-width: 600px) {
    .AboutUs {
        padding: 33px 1em;
    }

    .AboutUsContainer {
        border-radius: 8px;
        background-color: var(--white);
    }

    .AboutUsContent {
        padding: 0;
    }
}