.CallOut {
    display: flex;
    text-align: center;
    padding: 50px 12px 12px;
    background: var(--black-2);
}

.CallOutContent {
    gap: 1.7em;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 28px;
    line-height: 1.5;
    color: var(--white);
    text-transform: uppercase;
}

.ButtonContainer {
    display: flex;
    width: min(100%, 310px);
}

.ButtonContainer a {
    padding: 10px;
    max-width: 100%;
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 54px;
    }
}