.Hero {
    gap: 1em;
    display: flex;
    padding: 2em 8px;
    align-items: center;
    flex-direction: column;
    background: var(--black-2);
}

.HeroText {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}


.HeroTextLink span,
.HeroTextLink {
    z-index: 1;
    position: relative;
}

.HeroTextLink::after {
    z-index: 0;
    left: -1ch;
    right: -1ch;
    bottom: 1px;
    height: 8px;
    content: "";
    position: absolute;
    background: var(--red);
}