.Hero {
    background: var(--black-2);
}

.HeroContent {
    gap: 1em;
    padding: 2em 8px;
}

.HeroText {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    
}

@media screen and (min-width: 600px) {
    .HeroText {
        font-size: 36px;
    }

    .HeroContent {
        gap: 2em;
        padding: 71px 8px;
    }
}

.HeroTextLink span,
.HeroTextLink {
    z-index: 1;
    position: relative;
}

.HeroTextLink::after {
    z-index: 0;
    left: -1ch;
    right: -1ch;
    bottom: 1px;
    top: calc(100% - 9px);
    content: "";
    position: absolute;
    background: var(--red);
    transition: all .1s ease-out;
}

.HeroTextLink:hover::after {
    top: 2px;
}